<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olx Rem</title>
</head>
<body>
    <div>
        <a href="/">OLX REMASTERED!</a>
    </div>
    <div>
        {% if user.is_authenticated %}
        <p>Logged as: {{ user.username }} <a href="{% url 'classified_ads:logout' %}">logout</a></p>

        {% else %}
            Please, login or <a href="{% url 'classified_ads:sign_up' %}">sign_up</a>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        {% endif %}
    </div>
    <div>
        <form id="searchform" action="{% url 'classified_ads:index' %}" method="get" accept-charset="utf-8">
            <input class="searchfield" id="search_box" name="search" type="text" placeholder="Search" value="{{ search }}">
            <button class="searchbutton" type="submit">
                <i class="fa fa-search">Search</i>
            </button>
        </form>
    </div>
        <form id="pricesearchform" action="{% url 'classified_ads:index' %}" method="get" accept-charset="utf-8">
            <input class="searchfield" id="min_price_box" name="min_price" type="number" placeholder="min_price" min="0" step="0.01" value="{{ min_price }}">
            <input class="searchfield" id="max_price_box" name="max_price" type="number" placeholder="max_price" min="0" step="0.01" value="{{ max_price }}">
            <button class="searchbutton" type="submit">
                <i class="fa fa-search">Search</i>
            </button>
        </form>
    <div>

    </div>


    <div>
        <hr>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
