<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olx Rem</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
        <p>loged as:  {{ user.username }}</p>
        {% else %}
        <form action="{% url 'classified_ads:login' %}" method="post" novalidate>
            {% csrf_token %}
            <p></p><input name="username" value="{{ request.POST.username }}"></p>
            <p><input name="password" type="password" value="{{ request.POST.password }}"></p>
            <button type="submit">Sign in</button>
        </form>
        {% endif %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
