<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olx Rem</title>
</head>
<body>
    <div>
        <a href="/">OLX REMASTERED!</a>
    </div>
    <div>
        {% if user.is_authenticated %}
        <p>Logged as: {{ user.username }} <a href="{% url 'classified_ads:logout' %}">logout</a></p>

        {% else %}
            Please, login or <a href="{% url 'classified_ads:sign_up' %}">sign_up</a>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        {% endif %}
    </div>
    <form id="searchform" action="{% url 'classified_ads:index' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="search" type="text" placeholder="Search" value="{{ search }}">
        <button class="searchbutton" type="submit">
            <i class="fa fa-search">AAAAAAAAAAA</i>
        </button>
    </form>

    <div>
        <hr>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
