{% extends 'base.html' %}

{% block content %}
<br>
<div><h2>{{categories.name}}</h2></div>
    {% if  categories.children.all %}
        <h4>Sub Categories</h4>
            {% for i in categories.children.all %}
                <a href="{{ i.slug }}"> {{ i.name }} </a><br>
            {% endfor %}
    {% endif %}
    <br><hr>
    <div>
       <div>
           {% for i in items %}
           <div>
            <a href="{% url 'classified_ads:item_info' i.id %}">
              <div>
                 <div>
                   <strong>{{ i.name }}</strong>
                 </div></a>

                 <div>
                  <small>{{ i.category}} </small>
                  <p>{{ i.user.username }}</p>
                 </div>
              </div>
           </div>
           {% endfor %}
      </div>
    </div>

{% endblock %}