{% extends 'base.html' %}

{% block content %}
<br>
<div><h2>{{categories.name}}</h2></div>
    {% if  categories.children.all %}
        <h4>Sub Categories</h4>
            {% for i in categories.children.all %}
                <a href="{{ i.slug }}"> {{ i.name }} </a><br>
            {% endfor %}
    {% endif %}
    <br><hr>
        <div>
           {% for i in items %}
           <div style="border:1px solid black;">
            <a href="{% url 'classified_ads:item_info' i.id %}">
                 <div>
                   <strong>{{ i.name }}</strong>
                 </div></a>

                 <div>
                  <small>{{ i.category}} </small>
                  <p>{{ i.user.username }}</p>
                 </div>
               <div>
                   <a href="{% url 'classified_ads:item_update'  i.id  %}">edit</a>
                   <a href="{% url 'classified_ads:item_delete'  i.id  %}">delete</a>
               </div>
              </div>
           </div>
           {% endfor %}
        </div>

{% endblock %}