{% extends "base.html" %}

{% block content %}
    {% load namify %}
    <ul>


        {% for i in categories %}
            {% if i.is_root_node %}
               <li><a href="/category/{{ i.get_slug_list }}"><b>{{ i.get_slug_list | get_name }}</b></a></li>
            {% else %}
               <li><a href="/category/{{ i.get_slug_list }}">{{ i.get_slug_list | get_name }}</a></li>
            {% endif %}
        {% endfor %}

    </ul>

<h4>Items</h4>
  <div>

   {% for i in items %}
   <div>
    <a href="{{ i.name }}">
      <div>
         <div>
           <strong>{{ i.name }}</strong>
         </div>

         <div>
          <small>{{ i.category}} </small>
          <p>{{ i.price }}</p>
         </div>
      </div>
    </a>
   </div>
  </div>
      {% endfor %}

{% endblock %}
