{% extends "base.html" %}

{% block content %}
    {% load namify %}
    <ul>

        <li><a href="/">Home</a></li>
        {% for i in categories %}
            {% if i.is_root_node %}
               <li><a href="/category/{{ i.get_slug_list }}"><b>{{ i.get_slug_list | get_name }}</b></a></li>
            {% else %}
               <li><a href="/category/{{ i.get_slug_list }}">{{ i.get_slug_list | get_name }}</a></li>
            {% endif %}
        {% endfor %}

    </ul>

<h4>Items {% if user.is_authenticated %}, <a href="{% url 'classified_ads:new_item' %}">New Item!</a> {% endif %}</h4>
  <div>
       <div>
           {% for i in items %}
           <div>
            <a href="{% url 'classified_ads:item_info' i.id %}">
              <div>
                 <div>
                   <strong>{{ i.name }}</strong>
                 </div></a>

                 <div>
                  <small>{{ i.category}} </small>
                  <p>{{ i.user.username }}</p>
                 </div>
               <div>
                   <a href="{% url 'classified_ads:item_update'  i.id  %}">edit</a>
                   <a href="{% url 'classified_ads:item_delete'  i.id  %}">delete</a>
               </div>
              </div>
           </div>
           {% endfor %}
      </div>
    </div>


{% endblock %}
